<header class="sticky top-0 z-50 w-full border-b border-white/5 bg-black/80 backdrop-blur-md px-6 md:px-20 py-4">
  <nav class="max-w-7xl mx-auto flex items-center justify-center">

    <div class="hidden md:flex gap-10 text-sm">
      <a class="hover:text-accent-red" href="/">Home</a>
      <a class="text-muted-grey hover:text-accent-red" href="/projects">Proyectos</a>
      <a class="text-muted-grey hover:text-accent-red" href="/sobremi">Sobre mi</a>
    </div>
  </nav>
</header>