<section class="max-w-7xl mx-auto px-6 md:px-20 mb-32">
  <h2 class="text-3xl font-bold mb-2 pb-6">Mis Proyectos</h2>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
    <article class="bg-card-dark border border-white/5 rounded-xl p-6 hover:border-accent-red/50 transition flex flex-col justify-between h-full">
      <div>
        <h3 class="text-xl font-bold mb-4">ListaCompra</h3>
        <p class="text-muted-grey text-sm mb-4">
          Una aplicación multiplataforma de lista de la compra desarrollada con Kotlin Multiplatform y Jetpack Compose, integrada con Firebase Firestore para sincronización en tiempo real.
        </p>
      </div>
      <div class="flex gap-2 text-xs mt-6">
        <span class="bg-white/5 px-3 py-1 rounded">Kotlin</span>
        <span class="bg-white/5 px-3 py-1 rounded">Jetpack Compose</span>
        <span class="bg-white/5 px-3 py-1 rounded">Android e iOS</span>
      </div>
    </article>
        <article class="bg-card-dark border border-white/5 rounded-xl p-6 hover:border-accent-red/50 transition flex flex-col justify-between h-full">
          <div>
            <h3 class="text-xl font-bold mb-4">DisApp</h3>
            <p class="text-muted-grey text-sm mb-4">
              Aplicación móvil para la gestión de presupuestos en Aluminis Disa. Desarrollada en Android con Jetpack Compose.
            </p>
          </div>
          <div class="flex gap-2 text-xs mt-6">
            <span class="bg-white/5 px-3 py-1 rounded">Android</span>
            <span class="bg-white/5 px-3 py-1 rounded">Jetpack Compose</span>
            <span class="bg-white/5 px-3 py-1 rounded">Kotlin</span>
          </div>
        </article>
        <article class="bg-card-dark border border-white/5 rounded-xl p-6 hover:border-accent-red/50 transition flex flex-col justify-between h-full">
          <div>
            <h3 class="text-xl font-bold mb-4">SignInKMP</h3>
            <p class="text-muted-grey text-sm mb-4">
              Librería Kotlin Multiplatform para integrar Google Sign-In y Apple Sign-In con Firebase en aplicaciones Kotlin Multiplatform.
            </p>
          </div>
          <div class="flex gap-2 text-xs mt-6">
            <span class="bg-white/5 px-3 py-1 rounded">KMP</span>
            <span class="bg-white/5 px-3 py-1 rounded">Jetpack Compose</span>
            <span class="bg-white/5 px-3 py-1 rounded">Kotlin</span>
            <span class="bg-white/5 px-3 py-1 rounded">Swift</span>
          </div>
        </article>
  </div>
</section>